#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.leaflet-tooltip.cell-label {
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

.cell-value-icon div {
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

#movementControls {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;

  z-index: 9999;
}

#movementControls .middle-row {
  display: flex;
  gap: 48px;
}

.arrow-btn {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: none;
  background: white;
  font-size: 22px;
  box-shadow: 0 0 5px #0004;
  cursor: pointer;
}

.arrow-btn:active {
  transform: scale(0.94);
  background: #eee;
}
