#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.leaflet-tooltip.cell-label {
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
